@page
@model KSUWEBPMOCAP.Pages.Profiles.AdminProfile.Departments.CreateModel

@{
    Layout = "/Pages/Shared/_Layout1.cshtml";
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Department</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Department.Dept_Num" class="control-label"></label>
                <input asp-for="Department.Dept_Num" class="form-control" />
                <span asp-validation-for="Department.Dept_Num" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Department.Dept_Name" class="control-label"></label>
                <input asp-for="Department.Dept_Name" class="form-control" />
                <span asp-validation-for="Department.Dept_Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Department.Faculty_LastName" class="control-label"></label>
                <input asp-for="Department.Faculty_LastName" class="form-control" />
                <span asp-validation-for="Department.Faculty_LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
