@page
@model KSUWEBPMOCAP.Pages.Profiles.ViewerProfile.TblFiles.CreateModel

@{
    Layout = "/Pages/Shared/_Layout3.cshtml";
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>TblFile</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="TblFile.Name" class="control-label"></label>
                <input asp-for="TblFile.Name" class="form-control" />
                <span asp-validation-for="TblFile.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TblFile.ContenType" class="control-label"></label>
                <input asp-for="TblFile.ContenType" class="form-control" />
                <span asp-validation-for="TblFile.ContenType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TblFile.Data" class="control-label"></label>
                <input asp-for="TblFile.Data" class="form-control" />
                <span asp-validation-for="TblFile.Data" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
