<?xml version="1.0"?>

<!--
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
        <compilation debug="true" targetFramework="4.0" />
    </system.web>
  <connectionStrings>
    <add name="pdfconn" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\PMO\Desktop\Capstone20_Database.mdf;Integrated Security=True;Connect Timeout=30"/>

  </connectionStrings>
  
  
</configuration>
