@page
@model KSUWEBPMOCAP.Pages.StudentRegisterModel
@{
    Layout = "/Pages/Shared/_Layout1.cshtml";
    ViewData["Title"] = "StudentRegister";
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Student Registration</title>
</head>
<body>
    <h3>Sign Up</h3>
    <form method="post" asp-page="studentregister">
        <table>
            <tr>
                <td>Net ID</td>
                <td>
                    <input asp-for="@Model.account.Student_Net_Id" />
                </td>
            </tr>
            <tr>
                <td>Password</td>
                <td>
                    <input type="password" asp-for="@Model.account.Student_Password" />
                </td>
            </tr>
            <tr>
                <td>Full Name</td>
                <td>
                    <input asp-for="@Model.account.Student_Name" />
                </td>
            </tr>
            <tr>
                <td>Email</td>
                <td>
                    <input type="email" asp-for="@Model.account.Student_Email" />
                </td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td>
                    <input type="submit" value="Save" />
                    <br />
                    <a asp-page="Index">Sign In</a>
                </td>
            </tr>
        </table>
    </form>
</body>
</html>



